#about{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 88vh;
}
#containerAbout{
    width: 50%;
    margin: auto;
}
#containerAbout h1, p{
    color: #ddd;
}
#containerAbout h1{
    font-size: 46px;
    margin-bottom: -10px;
}
#containerAbout p{
    font-size: 20px;
    margin-bottom: 20px;
}
#containerAbout button{
    padding: 10px 10px;
    background-color: #FF8A00;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}
#containerAbout button:hover{
    transform: scale(1.03);
}

@media (max-width: 768px) {
    #containerAbout{
        width: 100%;
        margin: auto;
        padding: 0 20px;
    }
    #containerAbout h1{
        font-size: 26px;
        margin-bottom: -10px;
    }
    #containerAbout p{
        font-size: 16px;
        margin-bottom: 20px;
    }
}