#Home{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 88vh;
}
#containerHome{
    width: 50%;
    margin: auto;
}
#containerHome h1, p{
    color: #ddd;
}
#containerHome h1{
    font-size: 46px;
    margin-bottom: -10px;
}
#containerHome p{
    font-size: 20px;
    margin-bottom: 20px;
}
#containerHome button{
    padding: 10px 10px;
    background-color: #FF8A00;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}
#containerHome button:hover{
    transform: scale(1.03);
}

@media (max-width: 768px) {
    #containerHome{
        width: 100%;
        margin: auto;
        padding: 0 20px;
    }
    #containerHome h1{
        font-size: 26px;
        margin-bottom: -10px;
    }
    #containerHome p{
        font-size: 16px;
        margin-bottom: 20px;
    }
}